
body {
    margin: 0;
    background-color: orange;
}
h1 {
    color: white;
    text-align: center;
    font-size: 80px;
}
div {
    background-color : rgb(255, 255, 61);
    border: 1px;
    font-size: 40px;
    text-align: center;
    height: 20vh;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(146, 205, 228);
    padding: 5px;
    margin: 0px;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 15px;
}
.navbar a:hover{
    color: black;
    background-color: white;
    margin: 15px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.greeting {
    color: gray;
    text-decoration: none;
}
.fa-solid.fa-arrow-right {
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 2%;
    margin-left: 95%;
    margin-right: auto;
}
.fa-solid.fa-arrow-right:hover {
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-left: 95%;
    margin-right: auto;
    scale: 1.1;
}
.fa-solid.fa-arrow-left{
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: auto;
    width: 50%;
}
.fa-solid.fa-arrow-left:hover{
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-left: 4%;
    margin-right: auto;
    width: 50%;
    scale: 1.1;
}
.greeting{
    animation-name: greetingSlide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: block;
}
#treat{
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: inline;
    width: 250px;
    margin-left: 40%;
}
#feed{
    animation-name: slideRight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: inline;
    width: 300px;
}
#cuddle{
    animation-name: bigbig;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: inline;
    width: 200px;
    margin-left: 40%;
}
#fighter{
    animation-name: bigbig;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: inline;
    width: 200px;
    margin-left: 40%;
}
#withHuman{
    animation-name: rotate, slideLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: inline;
    width: 300px;
    margin-left: 40%;
}
#upset{
    animation-name: fade, bigbig, slideLeft;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    display: inline;
    width: 300px;
    margin-left: 40%;
}
@keyframes slideLeft{
    from{transform: translateX(1000px)}
}
@keyframes slideRight{
    to{transform: translateX(1500px)}
}
@keyframes greetingSlide{
    from{transform: translateX(1000px)}
}
@keyframes bigbig{
    50%{transform: scale(2, 2)}
}
@keyframes rotate{
    50%{transform: rotateZ(360deg)}
}
@keyframes fade{
    50%{opacity: 0}
}

